* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, 'Alatsi', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

/* ============================================= */
/*              Footer styles                    */
/* ============================================= */
html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

.dynamic-content {
  padding-top: 0;
  flex: 1 0 auto; }

#contact {
  flex-shrink: 0; }

.linkedin {
  max-width: 100%;
  fill: #0077b5; }

.github {
  fill: #181717; }

.twitter {
  fill: #1da1f2; }

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem; }

.bd-callout-warning {
  border-left-color: #f0ad4e; }

/* ============================================= */
/*              Contact styles                   */
/* ============================================= */
#contact-img {
  width: 100%;
  height: 35vh;
  background: url("https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3751&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

/* ============================================= */
/*              Education styles                 */
/* ============================================= */
#education {
  background-color: #F0EDE6; }

/* ============================================= */
/*              Navigation styles                */
/* ============================================= */
#nav {
  border-bottom: 3px solid #dd7564; }
  @media (max-width: 480px) {
    #nav {
      height: 30px !important;
      padding: 35px 10px !important; } }

.nav-item {
  font-size: 1.3em;
  font-family: 'Alatsi', sans-serif; }

/* ============================================= */
/*              Skills styles                    */
/* ============================================= */
#skills h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #dd7564; }

#sendTextForm h1.contactHeading {
  font-family: "Recursive", sans-serif;
  color: black;
  text-decoration: solid;
  font-weight: 800; }

.contactForm {
  font-size: 1rem;
  margin: 20px 10px; }
  .contactForm p.large {
    line-height: 3.75em;
    font-size: 1.5em;
    margin: 0;
    padding: 2rem 0 3.5rem; }

form input[type="text"],
form input[type="email"],
form textarea {
  position: relative;
  top: -0.35em;
  border: none;
  background: rgba(112, 111, 108, 0.2);
  outline: none;
  margin: 0 0.25em 0 0;
  font-size: 1.125rem;
  line-height: 2em;
  padding: 0.7em 0.75em 0.5em;
  width: 18.75rem;
  max-width: 100%;
  transition: background 0.3s ease; }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form textarea:focus {
    background: white;
    border-bottom: 1px solid rgba(112, 111, 108, 0.2); }
  form input[type="text"].small,
  form input[type="email"].small,
  form textarea.small {
    width: 10rem; }
  form input[type="text"].client,
  form input[type="email"].client,
  form textarea.client {
    min-width: 60%;
    margin: 0.25em; }
form input[type="submit"] {
  display: block;
  float: right;
  background: none;
  border: none;
  border-bottom: 1px solid #dd7564;
  color: #dd7564;
  padding: 0;
  margin: 0.5em 0 3em 0;
  outline: none;
  font-size: 3em;
  font-family: "Recursive", sans-serif;
  transition: color 0.3s ease, border-color 0.3s ease; }
  form input[type="submit"]:hover {
    color: #1fa5a6;
    border-color: #1fa5a6; }

/* ============================================= */
/*              About styles                     */
/* ============================================= */
#about {
  background-color: #F0EDE6;
  color: #dd7564; }
  @media (min-width: 720px) {
    #about {
      height: 40vh; } }
  #about .vertical-center {
    min-height: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center; }
  #about #aboutme {
    margin: auto;
    color: #dd7564; }
    #about #aboutme .hello {
      font-style: italic; }
    #about #aboutme .name {
      font-family: "Basic", sans-serif;
      font-size: 5em;
      padding-bottom: 20px; }
    #about #aboutme .btn {
      color: #1fa5a6;
      border-color: #1fa5a6; }

@media (max-width: 480px) {
  #aboutMeSection .left-box {
    text-align: center; } }
#aboutMeSection .left-box h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #dd7564; }
#aboutMeSection .left-box p.selfIntroduction {
  color: grey;
  font-size: 1.3em;
  font-family: "Fondamento", cursive; }
@media (max-width: 480px) {
  #aboutMeSection .left-box {
    width: 100%; } }
#aboutMeSection .right-box {
  box-shadow: 15px 15px 5px grey;
  padding: 0; }
  @media (max-width: 480px) {
    #aboutMeSection .right-box {
      box-shadow: none; } }
  #aboutMeSection .right-box .selfImg {
    width: 100%;
    height: 400px; }

#skills .icon {
  width: 50px; }
#skills .skills-wrapper h5 {
  font-weight: bold; }

/* ============================================= */
/*               Projects styles                 */
/* ============================================= */
#projects h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #dd7564; }
#projects .card-text {
  color: #706F6C; }

/* ============================================= */
/*               Projects Modal styles           */
/* ============================================= */
#modalContainer .modal-header {
  background-color: #F0EDE6;
  color: #dd7564; }
#modalContainer .heading {
  color: #dd7564;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #1fa5a6; }
#modalContainer .info {
  color: #706F6C;
  text-align: center; }
#modalContainer .modal-footer {
  justify-content: center; }
  #modalContainer .modal-footer .preview {
    background-color: #dd7564; }
  #modalContainer .modal-footer .github {
    background-color: #1fa5a6; }

/* ============================================= */
/*                   Blog styles                 */
/* ============================================= */
.feature {
  min-height: 35vh;
  background-image: url(https://picsum.photos/1300/400?image=989);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .feature .welcome {
    font-size: 2em;
    color: #1fa5a6;
    text-align: center; }

.content {
  line-height: 2rem;
  padding-top: 0.5rem; }
  .content h1 {
    padding-top: 50px;
    color: #dd7564; }
  .content p {
    color: #706F6C; }
  .content .article {
    margin: 5px 0; }
    .content .article h1 {
      color: #dd7564 !important; }

.section .list {
  list-style: none;
  padding: 0; }
  .section .list .item .article {
    font-size: medium;
    margin-bottom: 5px; }
    .section .list .item .article a {
      color: #1fa5a6; }
    .section .list .item .article .small .time {
      color: #706F6C; }

.nav--paginator {
  text-align: center; }

/* ============================================= */
/*                   Posts Styles                */
/* ============================================= */
.container .article {
  word-wrap: break-word; }
  .container .article :first-child {
    margin-top: 0; }
  @media screen and (min-width: 64em) {
    .container .article {
      max-width: 64rem;
      padding: 2rem 6rem;
      margin: 0 auto;
      font-size: 1.1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .container .article {
      padding: 2rem 4rem;
      font-size: 1.1rem; } }
  @media screen and (max-width: 42em) {
    .container .article {
      padding: 2rem 1rem;
      font-size: 1rem; } }
  .container .article small {
    font-size: 15px;
    line-height: 15px;
    color: #1fa5a6; }
  .container .article img {
    max-width: 100%; }
  .container .article h1,
  .container .article h2,
  .container .article h3,
  .container .article h4,
  .container .article h5,
  .container .article h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957; }
  .container .article p {
    margin-bottom: 1em; }
  .container .article code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #567482;
    background-color: #f3f6fa;
    border-radius: 0.3rem; }
  .container .article pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem; }
    .container .article pre > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: #567482;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0; }
  .container .article .highlight {
    margin-bottom: 1rem; }
    .container .article .highlight pre {
      margin-bottom: 0;
      word-break: normal; }
  .container .article .highlight pre,
  .container .article pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch; }
  .container .article pre code,
  .container .article pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }
    .container .article pre code:before, .container .article pre code:after,
    .container .article pre tt:before,
    .container .article pre tt:after {
      content: normal; }
  .container .article ul,
  .container .article ol {
    margin-top: 0; }
  .container .article blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0; }
    .container .article blockquote > :first-child {
      margin-top: 0; }
    .container .article blockquote > :last-child {
      margin-bottom: 0; }
  .container .article table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch; }
    .container .article table th {
      font-weight: bold; }
    .container .article table th,
    .container .article table td {
      padding: 0.5rem 1rem;
      border: 1px solid #e9ebec; }
  .container .article dl {
    padding: 0; }
    .container .article dl dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold; }
    .container .article dl dd {
      padding: 0;
      margin-bottom: 1rem; }
  .container .article hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0; }
.container section h2 a {
  font-size: 2rem; }
.container section .article {
  margin-bottom: 0; }
.container section nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem; }
  .container section nav .pagination--previous {
    padding-right: 1rem; }
  .container section nav .pagination--counter {
    padding-right: 1rem; }

.highlight table td {
  padding: 5px; }

.highlight table pre {
  margin: 0; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .ge {
  color: #000000;
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  color: #000000;
  font-weight: bold; }

.highlight .kd {
  color: #000000;
  font-weight: bold; }

.highlight .kn {
  color: #000000;
  font-weight: bold; }

.highlight .kp {
  color: #000000;
  font-weight: bold; }

.highlight .kr {
  color: #000000;
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .il {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #d14; }

.highlight .s2 {
  color: #d14; }

.highlight .se {
  color: #d14; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #d14; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d14; }

.highlight .ss {
  color: #990073; }

.highlight .s {
  color: #d14; }

.highlight .na {
  color: #008080; }

.highlight .bp {
  color: #999999; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nl {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: #000080; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  color: #000000;
  font-weight: bold; }

.highlight .o {
  color: #000000;
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight {
  background-color: #f8f8f8; }

.skillsIcons {
  max-width: 100%; }

/*# sourceMappingURL=styles.css.map */
