* {
  font-family: "Alatsi", sans-serif;
}

/* ============================================= */
/*              Footer styles                    */
/* ============================================= */
.linkedin {
  max-width: 100%;
  fill: #0077b5;
}

.github {
  fill: #181717;
}

.twitter {
  fill: #1da1f2;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

/* ============================================= */
/*              Education styles                 */
/* ============================================= */
#education {
  background-color: #F0EDE6;
}
/* ============================================= */
/*              Navigation styles                */
/* ============================================= */
#nav {
  height: 8vh;
  border-bottom: 3px solid #dd7564;
}

.nav-item {
  font-size: 1.3em;
}

/* ============================================= */
/*              Skills styles                    */
/* ============================================= */
#skills {
  background-color: #b2dedd;
}
#skills h1 {
  padding-top: 50px 0;
  padding-bottom: 40px;
  color: #dd7564;
}

/* ============================================= */
/*              About styles                     */
/* ============================================= */
#about {
  background-color: #F0EDE6;
  color: #dd7564;
}
@media (min-width: 720px) {
  #about {
    height: 100vh;
  }
}
#about .vertical-center {
  min-height: 100%;
  min-height: 92vh;
  display: flex;
  align-items: center;
}
#about #aboutme {
  margin: auto;
}
#about #aboutme .hello {
  font-style: italic;
}
#about #aboutme .name {
  font-family: "Basic", sans-serif;
  font-size: 5em;
  padding-bottom: 20px;
}
#about #aboutme .btn {
  color: #1fa5a6;
  border-color: #1fa5a6;
}

/* ============================================= */
/*               Projects styles                 */
/* ============================================= */
#projects h1 {
  padding-top: 50px 0;
  padding-bottom: 40px;
  color: #dd7564;
}
#projects .card-text {
  color: #706F6C;
}

/* ============================================= */
/*               Projects Modal styles           */
/* ============================================= */
#modalContainer .modal-header {
  background-color: #F0EDE6;
  color: #dd7564;
}
#modalContainer .heading {
  color: #dd7564;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #1fa5a6;
}
#modalContainer .info {
  color: #706F6C;
  text-align: center;
}
#modalContainer .modal-footer {
  justify-content: center;
}
#modalContainer .modal-footer .preview {
  background-color: #dd7564;
}
#modalContainer .modal-footer .github {
  background-color: #1fa5a6;
}

/* ============================================= */
/*                   Blog styles                 */
/* ============================================= */
.feature {
  min-height: 35vh;
  background-image: url(https://picsum.photos/1300/400?image=989);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.feature .welcome {
  font-size: 2em;
  color: #1fa5a6;
  text-align: center;
}

.content {
  line-height: 2rem;
  padding-top: 1rem;
}
.content h1 {
  padding-top: 50px 0;
  color: #dd7564;
}
.content p {
  color: #706F6C;
}
.content .article {
  margin: 25px 0;
}

.section .list {
  list-style: none;
}
.section .list .item .article {
  font-size: medium;
  margin-bottom: 50px;
}
.section .list .item .article a {
  color: #1fa5a6;
}
.section .list .item .article .small .time {
  color: #706F6C;
}

.nav--paginator {
  text-align: center;
}

/* ============================================= */
/*                   Posts Styles                */
/* ============================================= */
.container .article {
  word-wrap: break-word;
}
.container .article :first-child {
  margin-top: 0;
}
@media screen and (min-width: 64em) {
  .container .article {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .container .article {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 42em) {
  .container .article {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}
.container .article small {
  font-size: 15px;
  line-height: 15px;
  color: #1fa5a6;
}
.container .article img {
  max-width: 100%;
}
.container .article h1,
.container .article h2,
.container .article h3,
.container .article h4,
.container .article h5,
.container .article h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
}
.container .article p {
  margin-bottom: 1em;
}
.container .article code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}
.container .article pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}
.container .article pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.container .article .highlight {
  margin-bottom: 1rem;
}
.container .article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.container .article .highlight pre,
.container .article pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
  -webkit-overflow-scrolling: touch;
}
.container .article pre code,
.container .article pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.container .article pre code:before, .container .article pre code:after,
.container .article pre tt:before,
.container .article pre tt:after {
  content: normal;
}
.container .article ul,
.container .article ol {
  margin-top: 0;
}
.container .article blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
.container .article blockquote > :first-child {
  margin-top: 0;
}
.container .article blockquote > :last-child {
  margin-bottom: 0;
}
.container .article table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
}
.container .article table th {
  font-weight: bold;
}
.container .article table th,
.container .article table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}
.container .article dl {
  padding: 0;
}
.container .article dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.container .article dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
.container .article hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

.skillsIcons {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
