$black:#000000;
$primary:#dd7564;
$secondary:#1fa5a6;
$primary-light:#F0EDE6;
$secondary-light: #b2dedd;
$grey:#706F6C;
$yellow-light:#F0D772;
$yellow-dark:#ECD052;
$bg-dark-grey:#404040;

// $black:#0D0D0D;
// $primary:#D99177;
// $secondary:#3E402E;
// $primary-light:#F7F2EE;
// $secondary-light: #b2dedd;
// $grey:#706F6C;
// $yellow-light:#F0D772;
// $yellow-dark:#ECD052;
// $bg-dark-grey:#404040;


// $stra:#444732;
// $oragne:#f3ede7;

$break-m:720px;
$break-s:480px;

//Caymon CSS
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #159957 !default;
$header-bg-color: #1fa5a6 !default;
$header-bg-color-secondary: #155799 !default;


// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;


// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;


* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, 'Alatsi', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}
