// $custom-orange: #f7931e;
// $custom-white:#F2F2F2;
// $custom-black:#262626;
// $custom-orange-light:#ffa238;
// $custom-blue:#0078ab;
// $custom-blue-light:#1eb7f7;
// $custom-grey:#c5d0dd;
// $custom-heading:#2b394a;

$black:#000000;
$primary:#dd7564;
$secondary:#1fa5a6;
$primary-light:#F0EDE6;
$secondary-light: #b2dedd;
$grey:#706F6C;



* {
  font-family: 'Alatsi', sans-serif;
}

$break-m:720px;