/* ============================================= */
/*              Home Page About styles           */
/* ============================================= */
#about {
  background-color: $primary-light;
  color: $primary;
  height: 100vh;
  @include media-query-m($break-m) {
    height: 40vh;
  }

  .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    @include media-query-m($break-m) {
      min-height: 40vh;
    }
  }

  #aboutme {
    margin: auto;
    color: $primary;

    .hello {
      font-style: italic;
    }

    .name {
      font-family: "Basic", sans-serif;
      font-size: 5em;
      padding-bottom: 20px;
    }

    .btn {
      color: $secondary;
      border-color: $secondary;
    }
  }
}

/* ============================================= */
/*              About Page About styles          */
/* ============================================= */
#aboutBanner {
  background-color: $primary-light;
  #aboutImg{
    display: none;
    @include media-query-m($break-m) {
        display:block;
    }
  }
}

#aboutMeSection {
  .aboutMeDesc {
    @include media-query-s($break-s) {
      text-align: center;
    }

    h1 {
      padding-top: 50px;
      padding-bottom: 40px;
      color: $primary;

      @include media-query-s($break-s) {
        text-align: center;
      }
    }

    p.selfIntroduction {
      color: grey;
      font-size: 1.3em;
    }

    @include media-query-s($break-s) {
      width: 100%;
    }
  }
}

#skillsMenu {
  background-color: $primary-light;
  background: linear-gradient(to top left, $primary-light 50%, #fff 50.2%);
  text-align: center;
  h2 {
    font-family: cursive;
    color: $primary;
    text-decoration: solid;
    font-weight: 500;
    text-align: center;
    font-size:50px;
    
  }

  h3 {
    color: $primary;
    font-family: cursive;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color:$grey;
    text-align: center;
    font-size: 18px;
  }
}

#skills {
  .icon {
    width: 50px;
  }

  .skills-wrapper {
    h5 {
      font-weight: bold;
    }
  }
}
