/* ============================================= */
/*              About styles                     */
/* ============================================= */
#about {
    
    background-color: #f7931e;

    @include media-query-m($break-m) {
        height: 92vh;
    }

    .vertical-center{
        min-height: 100%;
        min-height: 92vh;
        display: flex;
        align-items: center;
    }

    #aboutme {
        margin:auto;

        .hello {
            font-style: italic;
        }
        
        .name{
            font-family: 'Basic', sans-serif;
            font-size: 5em;
            padding-bottom:20px;
        }
    }

}