/* ============================================= */
/*                   Blog styles                 */
/* ============================================= */
.feature {
    min-height: 35vh;
    background-image: url(https://picsum.photos/1300/400?image=989);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction:space-between;
    align-items: center;
    .welcome {
        font-size: 2em;
        color: $secondary;
        text-align: center;
    }

}

.content {
    line-height: 2rem;
    padding-top: 0.5rem;

    h1 {
        padding-top: 50px 0;
        color: $primary;
    }

    p {
        color: $grey;
    }

    .article {
        margin: 5px 0;
        h1{
            color:$primary !important;
        }
    }
}

.section {
    .list {
        list-style: none;
        padding:0;
        .item {
            .article {
                font-size: medium;
                margin-bottom: 5px;
                a {
                    color: $secondary;
                }
                
                .small{
                    .time{
                        color:$grey;
                    }
                }
            }
        }
    }
}

.nav--paginator{
    text-align: center;
}