/* ============================================= */
/*              Navigation styles                */
/* ============================================= */
#nav{
    // height:8vh;
    border-bottom:3px solid $primary;
    // font-family: 'Alatsi', sans-serif;

    @include media-query-s($break-s) {
        height: 12vh;
    }
}

.nav-item {
    font-size: 1.3em;
    font-family: 'Alatsi', sans-serif;
}



