/* ============================================= */
/*              Navigation styles                */
/* ============================================= */
#nav{
   
    border-bottom:3px solid $primary;
    @include media-query-s($break-s) {
        height: 20px !important;
        padding:20px 10px !important;
    }
}

.nav-item {
    font-size: 1.3em;
    font-family: 'Alatsi', sans-serif;
}



