/* ============================================= */
/*              Navigation styles                */
/* ============================================= */
.nav-item {
    font-size: 1.3em;
}

#about {
    height: 50vh;
    padding:100px 0;
    background-color: #f7931e;
}

#education {
    height: 100vh;
}


