/* ============================================= */
/*               Projects styles                 */
/* ============================================= */
#projects {

    h1 {
        padding-top: 50px;
        padding-bottom: 40px;
        color: $primary;
    }

    .card-text{
        color:$grey;
    }
}