/* ============================================= */
/*              Skills styles                    */
/* ============================================= */
#skills {
  h1 {
    padding-top: 50px 0;
    padding-bottom: 40px;
    color: $primary;
  }

  .left-box {
    width: 50%;
  }
  .right-box {
    width: 50%;
  }
}
