---
layout: default
---

<!-- About Me -->

<!-- <div class="container flex-column align-items-center justify-content-center" id="aboutMeSection">
    <h1 class="display-6 text-center py-5">About Me</h1>
    <div class="text-center">
        <img src="../../../assets/images/photo-1572281566723-46dda0a221e5.png" alt="avatar"
            class="img-thumbnail rounded-circle mb-2" id="aboutImg">
    </div>
    <p class="selfIntroduction text-center bd-callout bd-callout-warning mx-auto" id="callout">
        " I am an Automation engineer. Officially, my job is to design and
        write programs that run automatic tests on software.But Really? I make curious stakeholders feel relieved by
        reducing
        the risks of the software. "
    </p>
</div> -->

<div class="container d-flex justify-content-center py-4" id="aboutMeSection">
    <div class="left-box pr-5">
        <h1 class="display-6 py-2">About Me</h1><br>
        <p class="selfIntroduction" id="callout">
            " I am an Automation engineer. Officially, my job is to design and
            write programs that run automatic tests on software.But Really? I make curious stakeholders feel relieved by
            reducing
            the risks of the software. "
        </p>
    </div>
    <div class="right-box">
        <img src="../../../assets/images/photo-1572281566723-46dda0a221e5.png" alt="avatar"
       id="aboutImg">
    </div>
   
</div>