---
layout: default
---

<!--About Me-->
<!-- <div class="container-fluid" id="aboutMeSection">
    <div class="container">
        <div class="aboutText d-flex justify-content-between">
            <img class="aboutImg" src="../../../assets/images/photo-1572281566723-46dda0a221e5.png" />
            <div class="ml-5">
                <h1 class="architectsDaughter text-center">About Me</h1><br>
                <p class="selfIntroduction pb-2">
                    " I am an Automation engineer. Officially, my job is to design and
                    write programs that run automatic tests on software.<br><br>
                    But Really? I make curious stakeholders feel relieved by reducing
                    the risks of the software. "
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container" id="skills">
    <div class="skills-button">
        <button type="button" class="btn btn-success">Front End Development</button>
        <button type="button" class="btn btn-success">Software Quality Assurance</button>
        <button type="button" class="btn btn-success">Backend Development</button>
    </div>
</div> -->