---
layout: default
---
<div id="contact-img" >
</div>

<div class="container-fluid mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-1">
          Let's do something interesting !
      </h1>
      </div>
      <div class="col-md-4">
        <h3 class="pt-5 mt-5 mb-3">
          Jianing Wu
        </h3>
        <span class="pl-2">wujianing15@gmail.com</span><br>
        <span class="pl-2">https://github.com/JIWU6498</span>
      </div>
    </div>
</div>

</div>

 <!-- Subscribe ConvertKit Link -->
<script async data-uid="422a2b0f3d" src="https://marvelous-designer-3775.ck.page/422a2b0f3d/index.js"></script>

