---
layout: default
---

<!-- Contact Form -->

<div class="container-fluid my-5" id="sendTextForm">
  <div class="container">
    <h1 class="contactHeading">LET'S CHAT</h1>
    <h5>Fill this out so I can know more about you.</h5>
    <form action="https://formspree.io/mzbjywqo" method="POST" class="contactForm">
      <p class="large">
        My name is&nbsp;
        <input type="text" name="name" placeholder="Full Name" id="formContactName" />
        &nbsp;and I am with&nbsp;
        <input type="text" name="organization" placeholder="Organization Name" id="formOrgName" />
        . &nbsp;I would like to&nbsp;
        <input type="text" name="aim" placeholder="My Goal in a Snapshot" id="formAim"/>
        &nbsp;and know more about you. You can reach me at&nbsp;
        <input type="email" name="_replyto" placeholder="Email Address" id="formEmail"/>
        &nbsp;to get the converstation started. Thanks!&nbsp;     
      </p>
      <input type="submit" value="Send" />
      </form>
    </form>
  </div>
</div>

<!-- Subscribe ConvertKit Link -->
<script async data-uid="422a2b0f3d" src="https://marvelous-designer-3775.ck.page/422a2b0f3d/index.js"></script>