<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{page.title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Basic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Halant|Montserrat|Satisfy&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">

    <!-- Self CSS -->
    {% for file in site.static_files %} {% if file.css %}
    <link rel="stylesheet" href="{{file.path}}" />
    {% endif %} {% endfor %}
</head>

<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light bg-light sticky-top fixed-top" id="nav">
        <div class="container">
            <a class="navbar-brand" href="#">
                <svg width="60" height="40" class="jwlogo">
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <!-- The Nav Bar Overlay -->
            <div id="overlay-menu" class="overlay">
                <a href="javascript:void(0)" id="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link" href="/projects">Projects</a>
                    <a class="nav-link" href="/blog">Blog</a>
                    <a class="nav-link" href="/contact/">Contact</a>
                </div>
            </div>

            <button class="navbar-toggler" type="button"
                aria-controls="overlay-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" onclick="openNav()"></span>
            </button>

            <div class="collapse navbar-collapse font-weight-bold justify-content-end" id="navbarNav">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- /NavBar-->

    <!--Dynamic Content Section-->
    <div class="dynamic-content">
        {{ content }}
    </div>

    <!-- Contact -->
    <footer class="section bg-light py-5 text-center text-md-left" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Interested ? Reach Out.</h5>
                </div>
                <div class="col-md-8">
                    <a href="http://www.linkedin.com/in/wujenny15" class="mr-2">
                        <svg width="40" height="40" class="linkedin">
                            <use xlink:href="#linkedin" />
                        </svg>
                    </a>
                    <a href="https://github.com/wujenny15" class="mr-2">
                        <svg width="40" height="40" class="github">
                            <use xlink:href="#github" />
                        </svg>
                    </a>
                    <a href="https://twitter.com/wujenny15" class="mr-2">
                        <svg width="40" height="40" class="twitter">
                            <use xlink:href="#twitter" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <h1>Get In Touch</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <h5>
                        If you want to complete your team or you have a project that you
                        want to get started, think you need my help with something or just
                        fancy saying hi, then get in touch.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">&copy;2019 All Rights Reserved.</div>
                <div class="col-md-8"></div>
            </div>
        </div>
    </footer>

    <!-- SVG Graphics -->
    <!-- LinkedIn -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="linkedin" viewBox="0 0 24 24">
            <path d="M20.447
                                    20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853
                                    0-2.136 1.445-2.136
                                    2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9
                                    1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267
                                    5.455v6.286zM5.337 7.433a2.062 2.062 0
                                    01-2.063-2.065 2.064 2.064 0 112.063
                                    2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225
                                    0H1.771C.792 0 0 .774 0 1.729v20.542C0
                                    23.227.792 24 1.771 24h20.451C23.2 24 24 23.227
                                    24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
        </symbol>
    </svg>
    <!-- GitHub -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="github" viewBox="0 0 24 24">
            <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303
                                        3.438 9.8 8.205 11.385.6.113.82-.258.82-.577
                                        0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422
                                        18.07 3.633 17.7 3.633
                                        17.7c-1.087-.744.084-.729.084-.729 1.205.084
                                        1.838 1.236 1.838 1.236 1.07 1.835 2.809
                                        1.305
                                        3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93
                                        0-1.31.465-2.38
                                        1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0
                                        1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405
                                        1.02.006 2.04.138 3 .405 2.28-1.552
                                        3.285-1.23 3.285-1.23.645 1.653.24 2.873.12
                                        3.176.765.84 1.23 1.91 1.23 3.22 0
                                        4.61-2.805 5.625-5.475 5.92.42.36.81
                                        1.096.81 2.22 0 1.606-.015 2.896-.015 3.286
                                        0 .315.21.69.825.57C20.565 22.092 24 17.592
                                        24 12.297c0-6.627-5.373-12-12-12" />
        </symbol>
    </svg>
    <!-- Twitter -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="twitter" viewBox="0 0 24 24">
            <path d="M23.954 4.569a10 10 0 01-2.825.775
                                            4.958 4.958 0
                                            002.163-2.723c-.951.555-2.005.959-3.127
                                            1.184a4.92 4.92 0 00-8.384 4.482C7.691
                                            8.094 4.066 6.13 1.64 3.161a4.822 4.822
                                            0 00-.666 2.475c0 1.71.87 3.213 2.188
                                            4.096a4.904 4.904 0
                                            01-2.228-.616v.061a4.923 4.923 0 003.946
                                            4.827 4.996 4.996 0 01-2.212.085 4.937
                                            4.937 0 004.604 3.417 9.868 9.868 0
                                            01-6.102 2.105c-.39
                                            0-.779-.023-1.17-.067a13.995 13.995 0
                                            007.557 2.209c9.054 0 13.999-7.496
                                            13.999-13.986 0-.209
                                            0-.42-.015-.63a9.936 9.936 0
                                            002.46-2.548l-.047-.02z" />
        </symbol>
    </svg>
    <!-- Personal log -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="logo" viewBox="0 0 145.7 97.7">
            <g>
                <g fill="#dd7564">
                    <path d="M2.4 95.3V1.4h93.9L2.4
                                                        95.3z" opacity=".51" />
                    <path d="M49.4
                                                            95.3V1.4h93.9L49.4
                                                            95.3z" opacity=".5" />
                </g>
            </g>
        </symbol>
    </svg>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Self JS -->
    {% for file in site.static_files %} {% if file.javascript %}
    <script src="{{file.path}}" alt="{file.name}"></script>
    {% endif %} {% endfor %}
</body>

</html>